<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Sample suite" parallel="tests">
    <test name="Test Chrome">
        <parameter name="browser" value="chrome"/>
        <classes>
            <class name="DownloadImagesChrome"/>
        </classes>
    </test>
    <test name="Test Firefox">
        <parameter name="browser" value="firefox"/>
        <classes>
            <class name="DownloadImagesFirefox"/>
        </classes>
    </test>
</suite>